node_modules
database.sqlite
videolar/*.mp4
videolar/*.wav
videolar/*.srt
videolar/*.txt
uploads/*
auth_youtube.json
auth_tiktok.json
auth_x.json
auth_meta.json
.env
.env.local
.gemini
.idea
.vscode
dist

# Temporary and local development files
dashboard_output.html
*.txt
*.db
*.mp3
*.png
/*.js
new_keys.json
scratch/
Wav2Lip/
